.card {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 0.4rem;
  box-sizing: border-box;
  margin-left: 2rem;
  height: 5rem;
  width: 10rem;
}

.content {
  font-size: 2rem;
  font-weight: bold;
  color: #000000;
}
